body {
    background-color: rgb(29,33,51);
}

h1, h2 {
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    z-index: 3;
}

#zombie {
    height: 240px;
    width: 200px;
    z-index: 1;
}

#explosion {
    height: 256px;
    width: 256px;
    z-index: 2;
    display:none;
}

#button {
    width: 100px;
    height: 50px;
    font-size: 25px;
}

#reset{
    text-align: center;
    margin-top: 0%;
}